<section class="w-full bg-white dark:bg-gray-900 shadow-lg pb-10 mt-3 pt-20 dark:shadow-gray-900 shadow-white" id="about">
    <div class="w-full flex flex-rows flex-wrap justify-evenly">
        <div class="grow shrink basis-2xs p-3">
            <img class="size-[30rem] max-w-full max-h-full mb-3 rounded-full shadow-lg block m-auto" src="/images/photo-1639149888905-fb39731f2e6c.jpeg" alt="ANTI50CIAL👽🛸 image" />
            <h5 class="text-center mb-1 text-xl font-medium text-gray-900 dark:text-white">ANTI50CIAL👽🛸</h5>
            <span class="block text-center italic text-sm text-gray-500 dark:text-gray-400">Computer Programmer.</span>
        </div>
        <div class="grow shrink basis-2xs p-3 flex flex-col items-center">
            <span class="text-4xl font-bold text-black dark:text-white block text-center mb-2">
                About Me.
            </span>
            <p class="lg:text-lg sm:text-sm text-black dark:text-white">
                <span class="block">
                    Hi there, I'm <span class="font-semibold text-indigo-600 dark:text-indigo-400">ANTI50CIAL👽🛸</span>!
                </span>
                <span class="block">
                    A passionate fullstack developer from <span class="font-semibold">Lagos, Nigeria</span>.
                </span>
                <span class="block">
                    I specialize in building beautiful, responsive and functional web experiences with modern web technologies.
                </span>
                <span class="block">
                    I had my secondary education in <span class="font-semibold">Ansar-Ud-Deen Comprehensive College(AUDCC)</span> in <span class="font-semibold">Ota, Ogun State</span>.<br />
                    I'm currently pursuing a degree in <span class="font-semibold">Computer Science</span> in the <span class="font-semibold">University of Ilorin(UNILORIN)</span>.
                </span>
                <span class="block">
                    My goal is to work on impactful projects that not only challenge me but also contribute to making the web a more beautiful and accessible place for everyone.
                </span>
                <span class="block">
                    When I'm not coding, you'll catch me gaming, streaming, watching sci-fi movies or reading some random stuff on the internet.
                </span>
                <span class="block italic text-gray-500 lg:text-3xl sm:text-lg">
                    "Turning caffeine into code and deployable projects - one keystroke to 3 sips at a time...<br />
                    6 hours of debugging can save you 5 minutes of reading documentation..."
                </span>
            </p>
        </div>
    </div>
</section>
