<section
  class="w-full bg-white dark:bg-gray-900 shadow-lg pb-10 mt-3 pt-20 dark:shadow-gray-900 shadow-white"
  id="projects"
>
  <p
    class="text-4xl font-bold text-black dark:text-white block text-center mb-2"
  >
    Projects.
  </p>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 m-3 justify-items-center"
  >
    <figure
      class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg"
    >
      <a href="mailto:dmlademola10@gmail.com">
        <img
          class="hover:transform-[scale(1.2)] transition-all duration-300"
          src="/images/agency-2.jpg"
          alt="image description"
        />
      </a>
      <figcaption
        class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2"
      >
        <p>LANDING PAGES</p>
      </figcaption>
    </figure>
    <figure
      class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg"
    >
      <a href="mailto:dmlademola10@gmail.com">
        <img
          class="hover:transform-[scale(1.2)] transition-all duration-300"
          src="/images/car-rental.jpg"
          alt="image description"
        />
      </a>
      <figcaption
        class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2"
      >
        <p>WEB APPLICATIONS</p>
      </figcaption>
    </figure>
    <figure
      class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg"
    >
      <a href="mailto:dmlademola10@gmail.com">
        <img
          class="hover:transform-[scale(1.2)] transition-all duration-300"
          src="/images/corporate.jpg"
          alt="image description"
        />
      </a>
      <figcaption
        class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2"
      >
        <p>SCHOOL ERPs</p>
      </figcaption>
    </figure>
    <figure
      class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg"
    >
      <a href="mailto:dmlademola10@gmail.com">
        <img
          class="hover:transform-[scale(1.2)] transition-all duration-300"
          src="/images/factory.jpg"
          alt="image description"
        />
      </a>
      <figcaption
        class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2"
      >
        <p>MOBILE APPLICATIONS</p>
      </figcaption>
    </figure>
    <figure
      class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg"
    >
      <a href="mailto:dmlademola10@gmail.com">
        <img
          class="hover:transform-[scale(1.2)] transition-all duration-300"
          src="/images/industrial-landing.jpg"
          alt="image description"
        />
      </a>
      <figcaption
        class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2"
      >
        <p>SaaS</p>
      </figcaption>
    </figure>
    <figure
      class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg"
    >
      <a href="mailto:dmlademola10@gmail.com">
        <img
          class="hover:transform-[scale(1.2)] transition-all duration-300"
          src="/images/business-4-2.jpg"
          alt="image description"
        />
      </a>
      <figcaption
        class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2"
      >
        <p>PROFESSIONAL WEBSITES</p>
      </figcaption>
    </figure>
  </div>
</section>
