<section class="w-full bg-white dark:bg-gray-900 shadow-lg pb-10 mt-3 pt-20 dark:shadow-gray-900 shadow-white" id="projects">
  <p class="text-4xl font-bold text-black dark:text-white block text-center mb-2">
    Projects.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 m-3 justify-items-center">
    <figure class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg">
      <a href="https://h0me-hub.netlify.app/" target="_blank">
        <img class="hover:transform-[scale(1.2)] transition-all duration-300" src="/images/homehub.png" alt="image description" />
      </a>
      <figcaption class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2">
        <p>HomeHub</p>
      </figcaption>
    </figure>
    <figure class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg">
      <a href="https://e-shopper-ant.netlify.app/" target="_blank">
        <img class="hover:transform-[scale(1.2)] transition-all duration-300" src="/images/eshopper.png" alt="image description" />
      </a>
      <figcaption class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2">
        <p>eShopper</p>
      </figcaption>
    </figure>
    <figure class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg">
      <a href="https://lecti0.netlify.app/" target="_blank">
        <img class="hover:transform-[scale(1.2)] transition-all duration-300" src="/images/lectio.png" alt="image description" />
      </a>
      <figcaption class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2">
        <p>Lectio</p>
      </figcaption>
    </figure>
    <figure class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg">
      <a href="https://weather-ant.netlify.app/" target="_blank">
        <img class="hover:transform-[scale(1.2)] transition-all duration-300" src="/images/weather.png" alt="image description" />
      </a>
      <figcaption class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2">
        <p>Weather Ant</p>
      </figcaption>
    </figure>
    <figure class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg">
      <a href="https://la-chuppy.netlify.app/" target="_blank">
        <img class="hover:transform-[scale(1.2)] transition-all duration-300" src="/images/lachuppy.png" alt="image description" />
      </a>
      <figcaption class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2">
        <p>LaChuppy Foods</p>
      </figcaption>
    </figure>
    <figure class="relative cursor-pointer filter m-3 overflow-hidden rounded-lg">
      <a href="https://cbc-ant.netlify.app/" target="_blank">
        <img class="hover:transform-[scale(1.2)] transition-all duration-300" src="/images/cbc.png" alt="image description" />
      </a>
      <figcaption class="absolute px-4 text-lg bg-white/65 right-0 left-0 text-center text-black font-bold bottom-0 p-2">
        <p>CBC</p>
      </figcaption>
    </figure>
  </div>
</section>
