<section class="w-full bg-white dark:bg-gray-900 shadow-lg pb-10 mt-3 pt-20 dark:shadow-gray-900 shadow-white" id="skills">
    <p class="text-4xl font-bold text-black dark:text-white block text-center mb-2">Skills.</p>
    <div class="w-full grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 justify-items-center">
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faPython" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                Python
            </span>
        </div>
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faTypeScript" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                TypeScript
            </span>
        </div>
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faJS" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                JavaScript
            </span>
        </div>
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faSQL" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                SQL
            </span>
        </div>
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faAngular" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                Angular
            </span>
        </div>
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faTailwind" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                TailwindCSS
            </span>
        </div>
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faCSS" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                CSS
            </span>
        </div>
        <div class="text-black dark:text-white text-center m-2">
            <span class="text-4xl block">
                <fa-icon [icon]="faHTML" class="text-3xl md:text-5xl lg:text-7xl text-gray-800 dark:text-white"></fa-icon>
            </span>
            <span class="text-sm block text-gray-400 font-bold">
                HTML5
            </span>
        </div>

    </div>
</section>
